[Unit]
Description=ndpresponder
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ndpresponder -i ens3 -n 2602:fada:4::6a:0/112 -N fuckme
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
